<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bookcrossing Web Page</title>
</head>
<body>
<h1 th:inline="text">Hello Manager [[${#httpServletRequest.remoteUser}]]!</h1>
<p><a th:href="@{/addBook}"> add book </a></p>
<p><a th:href="@{/allorders}"> all orders </a> </p>
<p> <a th:href="@{/allusers}">users</a></p>
<p> <a th:href="@{/delivery}">delivery</a></p>
<p><a th:href="@{/box}"> box info </a></p>
</body>
</html>