<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>No Such Element</title>
    <style>
.center {
  line-height: 100px;
  height: 200px;
  text-align: center;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
</style>
</head>
<body style="background: url(https://cdn.wallpapersafari.com/49/84/XvSBOs.jpg); background-size: 100%;">
<div class="center">
    <p>
    <h3 style="font-family:courier;">Seems like we don't have the desired object. </h3>
    <h3 style="font-family:courier;"> Try the same action with available one</h3>
    </p>
</div>
</body>
</html>