<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bookcrossing Web Page</title>
</head>
<body style="background: url(https://i.pinimg.com/originals/f5/78/6e/f5786ea1483c9b3dc780837d0c5a7b2a.jpg);">
<h1 style="font-family:verdana;">Welcome, Customer!</h1>
<h4 style="font-family:courier;">BookCrossing (also BC, BCing or BXing) is defined as "the practice of leaving a book in a public place to be picked up and read by others, who then do likewise."</h4>
<h4 style="font-family:courier;">Although, we don't leave your book in a public place, it is delivered to a special box, which saves the value of the book and makes it more comfortable for You.</h4>
<h4 style="font-family:courier;">We also believe it is a huge step towards conscious consumption.</h4>
<h4 style="font-family:courier;">Thank You for choosing us!</h4>
<p style="font-family:verdana;"><a th:href="@{/login}">sign in</a> <a th:href="@{/register}">sign up</a> to continue using site.</p>
</body>
</html>